scripts/logs/*
.idea/
env/
*.pyc*
TrainingDataGeneration/Data/
TrainingDataGeneration/GCM-TC-Tracks-Data
dap.ceda.ac.uk/
*.nc
*.nc.*
TrainingDataGeneration/STORM-climate-change/*.txt
TrainingDataGeneration/STORM-climate-change/*.npy
TrainingDataGeneration/STORM-climate-change/ne*
TrainingDataGeneration/.DS_Store
TrainingDataGeneration/STORM-climate-change/.DS_Store
TrainingDataGeneration/STORM/__pycache__/SELECT_BASIN.cpython-39.pyc
TrainingDataGeneration/STORM/__pycache__/SAMPLE_TC_MOVEMENT.cpython-39.pyc
TrainingDataGeneration/STORM/__pycache__/SAMPLE_STARTING_POINT.cpython-39.pyc
TrainingDataGeneration/STORM-climate-change/.DS_Store
MachineLearning/predictions/*
MachineLearning/models/unet.keras
test.hdf5
*.hdf5
TrainingDataGeneration/STORM-climate-change/.DS_Store
TrainingDataGeneration/STORM/__pycache__/SAMPLE_STARTING_POINT.cpython-39.pyc
TrainingDataGeneration/STORM/__pycache__/SAMPLE_TC_MOVEMENT.cpython-39.pyc
TrainingDataGeneration/STORM/__pycache__/SELECT_BASIN.cpython-39.pyc
/Data/
mprofile_*.dat
*.keras
*.npy
*.keras
*.h5
ml_env
